.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pListItemContainer {
  width: 33.333%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 20px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  flex-basis: calc(33.333% - 10px);
  margin-bottom: 20px;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles {
  margin-top: 10px;
}

.pListTitles>h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles>h2 {
  font-size: 14px;
  font-weight: 300;
}

.pListHouseInfo {
  margin-top: 10px;
}